body {
  background-color: chartreuse;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

#box {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 30vh;
  width: 40vw;
  background-color: cyan;
}

#menu {
  display: none;
  position: absolute;

  /* height: 3vh; */
  /* width: 4vw; */
  border: solid 2px black;
  /* margin: 1rem; */
  /* padding: 1rem; */
  border-radius: 8px;
  background-color: chartreuse;
}

.button {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
  margin: 4px;
  padding: 4px;
  background-color: cyan;
}
